@page "{id}"
@model RedSignal.Pages.Admin.MonitoredLocationsManager.DetailsModel
@{
    ViewData["Title"] = "Detalhes do Local Monitorado";
}

<h1>Detalhes do Local Monitorado</h1>

@if (Model.Local == null)
{
    <p><strong>Local não encontrado.</strong></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.id_local_monitorado)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.id_local_monitorado)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.id_usuario_registrou)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.id_usuario_registrou)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.nome_local)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.nome_local)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.latitude)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.latitude)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.longitude)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.longitude)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.raio_notificacao_km)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.raio_notificacao_km)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.data_criacao)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.data_criacao)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Local.data_atualizacao)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Local.data_atualizacao)</dd>
    </dl>

    <a asp-page="Index">← Voltar à lista</a>
}
